html, body{
    margin: 1vw;
    padding: 0px;
    float: center;
    background-color: #0c0433;
    text-align: center;
    font-family: 'Montserrat';
    color: antiquewhite;
    font-size: 1.5vw;
  }
  
  bigDiv{
    height: 5000vw;
    float: left;
  }
  
  p{
    font-family: 'Cutive Mono';
    font-size: 1vw;
  }

  img{
    width: 15vw;
  }

  a{
    color: rgb(50, 185, 156);
  }
  
  .Title {
    letter-spacing: .25vw;
    font-size: 3vw;
    color: rgb(233, 140, 86);
  }

  .SubTitle {
    letter-spacing: .175vw;
    color: burlywood;
    font-size: 2vw;
  }

  .TitleBar {
    float: left;
    text-align: center;
    width: 100%;
  }

  div {
    border: 15px solid rgb(30, 10, 100);
    border-bottom-left-radius: 10%;
    border-style:ridge;
    border-bottom-style: groove;
    padding: 1.5%;
    margin: 2.5%;
  }

  .default_div_bottom_right_rounded{
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 10%;
    border-bottom-style: ridge;
    border-right-style: ridge;
  }

  .round{
    border-radius: 10%;
  }